body {
    background: radial-gradient(rgb(0, 147, 64), green);
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

img {
    width: 150px;
    height: 150px;
}

section {
    width: 100%;
    height: 100%;
}

.set {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.set div {
    position: absolute;
    display: block;
}

.set div:nth-child(1) {
    left: 0%;
    animation: animate 15s infinite;
    animation-delay: 3s;
}

.set div:nth-child(2) {
    left: 10%;
    animation: animate 21s infinite;
}

.set div:nth-child(3) {
    left: 25%;
    animation: animate 10s infinite;
}

.set div:nth-child(4) {
    left: 33%;
    animation: animate 36s infinite;
}

.set div:nth-child(5) {
    left: 45%;
    animation: animate 28s infinite;
}

.set div:nth-child(6) {
    left: 60%;
    animation: animate 13s infinite;
}

.set div:nth-child(7) {
    left: 79%;
    animation: animate 57s infinite;
}

.set div:nth-child(8) {
    left: 84%;
    animation: animate 19s infinite;
}

nav {
    line-height: 50px;
    width: 33vw;
    background-color: black;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    padding-right: 35px;
}

nav a {
    text-decoration: none;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

@keyframes animate {        /*keyframes nom --> alternative à transition, nom == animation-name*/
    0% {
        top: -10%;
    }

    20% {
        transform: translateX(-20px) rotate(45deg);
    }

    40% {
        opacity: 0;
    }

    100% {
        top: 110%;
    }
}